{% load static %}
<div class="div-block-14">
   <div class="text-block-4">information<br/>‍<br/><a href="{%url 'core:about_us'  %}" style="font-family: 'Fontfont dinpro', sans-serif;color: #290098;">about us</a><br/><a href="{%url 'core:contact_us'  %}" style="font-family: 'Fontfont dinpro', sans-serif;color: #290098;">contact us</a><br/><a href="{%url 'core:news'  %}" style="font-family: 'Fontfont dinpro', sans-serif;color: #290098;">news &amp; events</a><br/><a href="" style="font-family: 'Fontfont dinpro', sans-serif;color: #290098;">sitemap</a></div>
   <div class="text-block-3">boss hardware<br/>30 martini parade<br/>lithgow nsw 2790<br/>1300 888 729<br/>sales@timberfix.com.au<br/><br/>abn: 36 144 681 765</div>
   <div class="div-block-15"><img src="{% static 'img/5fc8f6e9a46460bfa31ff745_facebook.PNG' %}" loading="lazy" alt="" class="image-5"/><img src="{% static 'img/5fc8f8796b8bb4f7aa656ca4_twitter.PNG' %}" loading="lazy" alt="" class="image-5"/><img src="{% static 'img/5fc8f8ba3bf0a3c3331afbfe_linkedin.PNG' %}" loading="lazy" alt="" class="image-5"/><img src="{% static 'img/5fc8faef3c7a285d741d7915_youtube.PNG' %}" loading="lazy" alt="" class="image-5"/><img src="{% static 'img/5fc8fafe0a41dc8e01b1cd8c_g%2B.PNG' %}" loading="lazy" alt="" class="image-5"/></div>
 </div>
  <div class="div-block-012">
    <div class="footer">
       <div class="usp-wrap">
          <div class="div-block-2">
             <h1 class="heading-4">BOSS</h1>
             <p class="paragraph">HARDWARE &amp; FASTENERS</p>
          </div>
          <div class="aus-wide-wrap">
             <h1 class="heading-3">AUSTRALIA<br/>WIDE</h1>
          </div>
       </div>
    </div>
  </div>