
{% extends "base.html" %}

{% block content %}
{% load static %}
<div>
  <h1 class="sub-section" style="margin-left: 32%;"><strong>OUR MOST COMMON ITEMS<br/><br/></strong> </h1>
</div>
<div class="div-block-11">
  <div class="w-layout-grid grid">
    {% for item in object_list %}
     <div class="div-block-10">
        <!-- <img src="{% static 'img/5fc63512a881e955921010e4_Capture3.PNG' %}" loading="lazy" alt=""/> -->
        <a href="{{ item.get_absolute_url }}">
        <img src="{{ item.image.url }}" class="card-img-top">
        </a>
          <div class="mask rgba-white-slight"></div>
        </a>
        <a href="{{item.get_absolute_url}}">
          <div class="mask rgba-white-slight"></div>
        </a>
        
        
        <div class="text-block"><a href="{{ item.get_absolute_url }}" >{{ item.title }}<br/>Stock Code: {{ item.stock_code }}</a><br/>
          
            <!-- <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span> -->
          </a>
        </div>
        <!-- <strong>$
          {% if item.discount_price %}
          {{ item.discount_price }}
          {% else %}
          {{ item.price }}
          {% endif %} -->
        </strong>
     </div>
     {% endfor %}
     {% if is_paginated %}
     <nav class="d-flex justify-content-center wow fadeIn">
       <ul class="pagination pg-blue">
 
         {% if page_obj.has_previous %}
         <li class="page-item">
           <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
             <span class="sr-only">Previous</span>
           </a>
         </li>
         {% endif %}
 
         <li class="page-item active">
           <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
             <span class="sr-only">(current)</span>
           </a>
         </li>
 
         {% if page_obj.has_next %}
         <li class="page-item">
           <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
           </a>
         </li>
         {% endif %}
       </ul>
     </nav>
     {% endif %}
     <!-- <div class="div-block-10">
        <img src="{% static 'img/5fc635797aeed6a5a495c656_Capture4.PNG' %}" loading="lazy" width="220" alt="" class="image-18"/>
        <div class="text-block">DANGER CONSTRUCTION SITE DO NOT ENTER 600 X 450MM POLY SIGN<br/>Stock Code: SIGN217</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc635b2cb6bc7831acfb80f_Capture5.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">50MM PH2 DRIVER BIT<br/>Stock Code: DBP250</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc636066e50de12a676a400_Capture6.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">STANLEY 14 PEICE SCREW DRIVER SET<br/>Stock Code: SCWSET14</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc63643c29385e8e192f856_Capture7.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">10G X 50MM STAINLESS CHIPBOARD SCREWS <br/>Stock Code: SSWCB1050</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc63673c3cdff3b444e6201_Capture8.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">SIKAFLEX PRO 600ML SAUSAGE<br/>Stock Code: SIKAPRO6CG</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc6369b289f57598069c895_Capture9.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">10MM X 160MM SDS PLUS MASONRY BIT<br/>Stock Code: DRLSDS10.160</div>
     </div>
     <div class="div-block-10">
        <img src="{% static 'img/5fc636c5289f5725ca69c8ae_Capture10.PNG' %}" loading="lazy" alt=""/>
        <div class="text-block">125MM ULTRA THIN CUTTING DISCS<br/>Stock Code: CUTS125</div>
     </div> -->
  </div>
</div>
<div class="div-block-129">
  <h3 class="sub-section"><strong>Why choose boss hardware?</strong></h3>
</div>
<div class="div-block-126">
  <div class="div-block-114">
     <div class="usp-wrap"><img src="{% static 'img/5fc2b28e7c628324c2b7ea31_white%20tick%20box.png' %}" loading="lazy" alt="" class="usp-icon"/><a href="#" class="usp-text">HIGHEST QUALITY STANDARDS <br/>-PRODUCTS YOU CAN RELY ON</a></div>
     <div class="usp-wrap"><img src="{% static 'img/5fc2b28e7c628324c2b7ea31_white%20tick%20box.png' %}" loading="lazy" alt="" class="usp-icon"/><a href="#" class="usp-text">HIGHEST QUALITY STANDARDS <br/>-PRODUCTS YOU CAN RELY ON</a></div>
     <div class="usp-wrap"><img src="{% static 'img/5fc2b28e7c628324c2b7ea31_white%20tick%20box.png' %}" loading="lazy" alt="" class="usp-icon"/><a href="#" class="usp-text">HIGHEST QUALITY STANDARDS <br/>-PRODUCTS YOU CAN RELY ON</a></div>
     <div class="usp-wrap"><img src="{% static 'img/5fc2b28e7c628324c2b7ea31_white%20tick%20box.png' %}" loading="lazy" alt="" class="usp-icon"/><a href="#" class="usp-text">HIGHEST QUALITY STANDARDS <br/>-PRODUCTS YOU CAN RELY ON</a></div>
  </div>
</div>
<div class="div-block-127">
  <h3 class="sub-section"><strong><br/>boss ordering app<br/><br/></strong></h3>
</div>
<div class="divmobileapp">
  <div class="divmobil2">
     <div class="mobilwarp">
        <a href="#" class="usp-text">OUR APP HAS BEEN BUILT TO MAKE IT <br/>EASIER &amp; QUICKER TO ORDER<br/><br/>OUR MISSION INVOLVES ‘GIVING<br/>BACK’ TO OUR CUSTOMERS,<br/>THROUGH SIGNIFICANTLY IMPROVING <br/>EFFICIENCIES IN ORDERING<br/><br/>ORDERING GOODS WHICH ALLOWS<br/>YOU TO SPEND MORE TIME ON THE<br/>JOB OR WITH YOUR FAMILY<br/><br/>YOU CAN ALSO MAKE YOUR WHOLE<br/>ACCOUNT VIA THE APP...MAKES<br/>JOB COSTING A BREEZE!<br/><br/>Available on the app store</a>
        <div class="section"></div>
     </div>
     <div class="div-block-120"></div>
  </div>
</div> 
<div class="div-block-123">
  <img src="https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28e7c628312fbb7ea30_PHONE%20BLANK%20BOSS%20COLOUR%20CASE.png{% static 'img/5fc2b28e7c628312fbb7ea30_PHONE%20BLANK%20BOSS%20COLOUR%20CASE.png' %}" loading="lazy" width="296" sizes="(max-width: 479px) 5px, (max-width: 991px) 33vw, 296px" srcset="https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28e7c628312fbb7ea30_PHONE%20BLANK%20BOSS%20COLOUR%20CASE-p-500.png 500w, https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28e7c628312fbb7ea30_PHONE%20BLANK%20BOSS%20COLOUR%20CASE.png 767w" alt="" class="image-17"/>
  <div class="shopcart">
     <img src="https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28d9c0c301414246f3b_cart-148964.png" loading="lazy" srcset="https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28d9c0c301414246f3b_cart-148964-p-500.png 500w, https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28d9c0c301414246f3b_cart-148964-p-800.png 800w, https://uploads-ssl.webflow.com/5fc2aefa7c62838823b7d891/5fc2b28d9c0c301414246f3b_cart-148964.png 1920w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 63px, 10vw" alt="" class="image-19"/>
     <h1 class="heading-8">BOSS</h1>
     <div class="text-block-11"><strong class="bold-text-2">HARDWARE &amp; FASTENERS</strong></div>
     <div class="div-block-128"></div>
  </div>
</div>  
 <div class="div-block-121">
  <div class="w-row">
     <div class="w-col w-col-6"><img src="{% static 'img/5fc61bde58315d0f19787faa_Capture.PNG' %}" loading="lazy" width="223" alt="" class="image-20"/></div>
     <div class="w-col w-col-6"><img src="{% static 'img/5fc61d37139bfe4dc2d498c0_Capture2.PNG' %}" loading="lazy" width="224" alt="" class="gplay"/></div>
  </div>
</div>



<!-- <main>
  <div class="container">

   
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

      
      <span class="navbar-brand">Categories:</span>

     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="basicExampleNav">

        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shirts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sport wears</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Outwears</a>
          </li>

        </ul>
        

        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      

    </nav>
 


   
    <section class="text-center mb-4">

      <div class="row wow fadeIn">

        {% for item in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">

          <div class="card">

            <div class="view overlay">
              
                <img src="{{ item.image.url }}" class="card-img-top">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
                
    

              <a href="{{item.get_absolute_url}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <a href="" class="grey-text">
                <h5>{{ item.get_category_display }}</h5>
              </a>
              <h5>
                <strong>
                  <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                </strong>
              </h4>

            </div>

          </div>

        </div>
        {% endfor %}
      </div>

    </section>
    

    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>
</main> -->

{% endblock content %}